:root {
  --surface-color: #fff;
  --curve: 40;
}

* {
  box-sizing: border-box;
}
ul {
  list-style: none;
}

body {
  /* font-family: "Noto Sans JP", sans-serif; */
  /* background-color: #fef8f8; */
}
.projects {
  /* width: 80%; */
  margin: 0 auto;
}

.projects > h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.projects-cards {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;*/
  /* width: 100%; */
  /* background-color: red; */

  /* display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: stretch;
  gap: 2rem;
  overflow-x: auto;
  overflow-y: hidden;
  overscroll-behavior-inline: contain; */

  display: grid;
  grid-auto-flow: column;
  gap: 2rem;
  overflow-x: auto;
  overflow-y: hidden;
  overscroll-behavior-inline: contain;
  list-style-type: none;
  width: 80%;
  margin: 0 auto;
  /* grid-auto-columns: ; */
}

.card {
  position: relative;
  display: block;
  /* height: 100%; */
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}

.card__image {
  width: 300px;
  /* height: auto; */
  object-fit: cover;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: calc(var(--curve) * 1px);
  /* background-color: var(--surface-color); */
  background-color: #24263b;
  transform: translateY(100%);
  transition: 0.2s ease-in-out;
  width: 300px;
}

.card:hover .card__overlay {
  transform: translateY(0);
  width: 300px;
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  /* gap: 2em; */
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;
  background-color: #24263b;
  transform: translateY(-100%);
  transition: 0.2s ease-in-out;
  width: 300px;
}

/* .card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 1;
  background-color: pink;
} */

/* .card__arc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
} */

.card:hover .card__header {
  transform: translateY(0);
  width: 300px;
}

/* .card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
} */

.card__title {
  font-size: 1em;
  margin: 0 0 0.3em;
  color: aliceblue;
}

/* .card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";
  font-size: 0.8em;
  color: #d7bdca;
} */

.card__status {
  font-size: 0.8em;
  color: #d7bdca;
  margin: 0;
}

.card__description {
  padding: 0 2em 1em;
  margin: 0;
  color: #d7bdca;
  font-family: "MockFlowFont";
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  width: 300px;
}
.card__description-flex {
  display: flex;
  /* width: 300px; */
  /* background-color: yellow; */
  justify-content: space-evenly;
  padding: 0 0 1em 0;
}
.card__description-flex > a {
  color: #d7bdca;
}
